body { background-color: #3f3f3d; } 
   .Portfolio {
      width: 675px;  
      height: 945px;
      padding: 40px 30px 40px 60px; 
      margin: 40px auto; 
      box-shadow: 6px 6px 12px black; 
      background-color: white; 
      font-family:  "Helvetica"; 
      font-size: 87%;
      
    }
    .Header {
        font-size: 125%;
        margin-top: 11px;
        margin-bottom: 11px;
      }
